In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
train_df = pd.read_csv('train_df_version2.csv')
train_df.head(15)

,county_state,0,1,2,3,4,5,6,7,8,...,pct_it_workers_2018,pct_it_workers_2019,pct_it_workers_2020,pct_it_workers_2021,median_hh_inc_2017,median_hh_inc_2018,median_hh_inc_2019,median_hh_inc_2020,median_hh_inc_2021,state
0,Abbeville County South Carolina,1.335653,1.197482,1.258892,1.228187,1.217952,1.195301,1.149131,1.210691,1.205561,...,1.8,1.6,2.0,1.5,35254.0,36685.0,38741.0,43090.0,45710.0,South Carolina
1,Acadia Parish Louisiana,1.695543,1.651956,1.651956,1.643239,1.721696,1.690496,1.686150,1.675286,1.690496,...,1.7,2.1,2.5,1.5,40492.0,41177.0,43396.0,44412.0,42368.0,Louisiana
2,Accomack County Virginia,2.910939,2.706865,2.833930,2.968696,2.934042,2.888519,2.784115,2.807316,2.842118,...,0.6,0.7,0.8,0.3,42260.0,43210.0,46073.0,46178.0,50601.0,Virginia
3,Ada County Idaho,11.778187,11.920884,11.923940,12.011331,11.977107,11.650465,11.528472,11.595257,11.701518,...,2.1,1.9,2.0,2.0,60151.0,63137.0,66293.0,69952.0,75115.0,Idaho
4,Adair County Iowa,2.782208,2.746766,2.782208,2.870813,2.853092,2.974377,2.956459,3.010213,3.010213,...,0.8,0.6,0.4,0.3,49477.0,51859.0,53363.0,55700.0,57944.0,Iowa
5,Adair County Kentucky,2.069413,1.972105,1.777489,1.777489,1.783977,1.787572,1.742070,1.696568,1.716069,...,1.2,1.1,0.8,0.6,36575.0,39346.0,38021.0,43026.0,46652.0,Kentucky
6,Adair County Missouri,2.796565,2.916487,2.916487,2.964455,2.964455,2.976820,2.923920,2.962393,3.015293,...,2.5,2.0,1.7,1.7,38750.0,40046.0,41929.0,42301.0,46639.0,Missouri
7,Adair County Oklahoma,0.785999,0.761437,0.749156,0.798281,0.792140,0.792675,0.743517,0.731228,0.755807,...,0.3,0.2,0.2,0.2,33366.0,32986.0,34695.0,34375.0,37940.0,Oklahoma
8,Adams County Colorado,5.505571,5.445589,5.453511,5.442194,5.432857,5.327217,5.248416,5.231274,5.308692,...,2.8,2.7,3.0,2.7,64087.0,67575.0,71202.0,73817.0,78304.0,Colorado
9,Adams County Idaho,2.889640,2.920381,2.920381,2.951122,3.043344,3.107861,3.138330,3.046923,3.138330,...,0.4,0.0,0.0,0.6,42727.0,45319.0,48856.0,50309.0,52746.0,Idaho
10,Adams County Illinois,4.561987,4.424624,4.407213,4.463318,4.442037,4.461610,4.374052,4.346811,4.385726,...,1.6,1.7,1.2,1.3,48454.0,51398.0,52993.0,55052.0,58587.0,Illinois
11,Adams County Indiana,2.333596,2.213179,2.263007,2.204875,2.196570,2.166990,2.129771,2.175261,2.154584,...,2.0,1.7,1.5,0.7,48290.0,51713.0,52504.0,52712.0,56037.0,Indiana
12,Adams County Iowa,2.701801,2.601734,2.535023,2.535023,2.535023,2.510176,2.510176,2.544098,2.476255,...,1.4,0.9,0.6,0.4,49745.0,49229.0,49255.0,52287.0,57981.0,Iowa
13,Adams County Mississippi,2.249135,2.298567,2.286209,2.253254,2.220300,2.164936,2.144890,2.112817,2.144890,...,0.8,0.9,0.6,0.6,30359.0,29203.0,29936.0,30633.0,33860.0,Mississippi
14,Adams County Nebraska,2.466620,2.412545,2.445822,2.429184,2.441662,2.419958,2.378378,2.403326,2.436590,...,1.1,0.8,0.8,1.0,51721.0,51536.0,53023.0,56007.0,57783.0,Nebraska

In [3]:
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

/Users/alecclarkfeather/opt/anaconda3/lib/python3.8/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [4]:
train_df.columns

Index(['county_state', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', 'cfips', 'pct_bb_2017', 'pct_bb_2018',
       'pct_bb_2019', 'pct_bb_2020', 'pct_bb_2021', 'pct_college_2017',
       'pct_college_2018', 'pct_college_2019', 'pct_college_2020',
       'pct_college_2021', 'pct_foreign_born_2017', 'pct_foreign_born_2018',
       'pct_foreign_born_2019', 'pct_foreign_born_2020',
       'pct_foreign_born_2021', 'pct_it_workers_2017', 'pct_it_workers_2018',
       'pct_it_workers_2019', 'pct_it_workers_2020', 'pct_it_workers_2021',
       'median_hh_inc_2017', 'median_hh_inc_2018', 'median_hh_inc_2019',
       'median_hh_inc_2020', 'median_hh_inc_2021', 'state'],
      dtype='object')

In [6]:
lookup_map = dict(zip(list(train_df.index), train_df[['county_state', 'cfips']].values))
#lookup_map

In [7]:
train_df_mod = train_df.drop(columns=['county_state', 'cfips'], axis=1)
train_df_mod.head(15)

,0,1,2,3,4,5,6,7,8,9,...,pct_it_workers_2018,pct_it_workers_2019,pct_it_workers_2020,pct_it_workers_2021,median_hh_inc_2017,median_hh_inc_2018,median_hh_inc_2019,median_hh_inc_2020,median_hh_inc_2021,state
0,1.335653,1.197482,1.258892,1.228187,1.217952,1.195301,1.149131,1.210691,1.205561,1.215821,...,1.8,1.6,2.0,1.5,35254.0,36685.0,38741.0,43090.0,45710.0,South Carolina
1,1.695543,1.651956,1.651956,1.643239,1.721696,1.690496,1.686150,1.675286,1.690496,1.662249,...,1.7,2.1,2.5,1.5,40492.0,41177.0,43396.0,44412.0,42368.0,Louisiana
2,2.910939,2.706865,2.833930,2.968696,2.934042,2.888519,2.784115,2.807316,2.842118,2.830517,...,0.6,0.7,0.8,0.3,42260.0,43210.0,46073.0,46178.0,50601.0,Virginia
3,11.778187,11.920884,11.923940,12.011331,11.977107,11.650465,11.528472,11.595257,11.701518,11.743073,...,2.1,1.9,2.0,2.0,60151.0,63137.0,66293.0,69952.0,75115.0,Idaho
4,2.782208,2.746766,2.782208,2.870813,2.853092,2.974377,2.956459,3.010213,3.010213,3.010213,...,0.8,0.6,0.4,0.3,49477.0,51859.0,53363.0,55700.0,57944.0,Iowa
5,2.069413,1.972105,1.777489,1.777489,1.783977,1.787572,1.742070,1.696568,1.716069,1.722569,...,1.2,1.1,0.8,0.6,36575.0,39346.0,38021.0,43026.0,46652.0,Kentucky
6,2.796565,2.916487,2.916487,2.964455,2.964455,2.976820,2.923920,2.962393,3.015293,3.020102,...,2.5,2.0,1.7,1.7,38750.0,40046.0,41929.0,42301.0,46639.0,Missouri
7,0.785999,0.761437,0.749156,0.798281,0.792140,0.792675,0.743517,0.731228,0.755807,0.749662,...,0.3,0.2,0.2,0.2,33366.0,32986.0,34695.0,34375.0,37940.0,Oklahoma
8,5.505571,5.445589,5.453511,5.442194,5.432857,5.327217,5.248416,5.231274,5.308692,5.315052,...,2.8,2.7,3.0,2.7,64087.0,67575.0,71202.0,73817.0,78304.0,Colorado
9,2.889640,2.920381,2.920381,2.951122,3.043344,3.107861,3.138330,3.046923,3.138330,3.168799,...,0.4,0.0,0.0,0.6,42727.0,45319.0,48856.0,50309.0,52746.0,Idaho
10,4.561987,4.424624,4.407213,4.463318,4.442037,4.461610,4.374052,4.346811,4.385726,4.391563,...,1.6,1.7,1.2,1.3,48454.0,51398.0,52993.0,55052.0,58587.0,Illinois
11,2.333596,2.213179,2.263007,2.204875,2.196570,2.166990,2.129771,2.175261,2.154584,2.179397,...,2.0,1.7,1.5,0.7,48290.0,51713.0,52504.0,52712.0,56037.0,Indiana
12,2.701801,2.601734,2.535023,2.535023,2.535023,2.510176,2.510176,2.544098,2.476255,2.442334,...,1.4,0.9,0.6,0.4,49745.0,49229.0,49255.0,52287.0,57981.0,Iowa
13,2.249135,2.298567,2.286209,2.253254,2.220300,2.164936,2.144890,2.112817,2.144890,2.148900,...,0.8,0.9,0.6,0.6,30359.0,29203.0,29936.0,30633.0,33860.0,Mississippi
14,2.466620,2.412545,2.445822,2.429184,2.441662,2.419958,2.378378,2.403326,2.436590,2.444907,...,1.1,0.8,0.8,1.0,51721.0,51536.0,53023.0,56007.0,57783.0,Nebraska

In [8]:
test_cols = [str(i) for i in range(31, 39)]
test_cols

['31', '32', '33', '34', '35', '36', '37', '38']

In [12]:
#train_df_dummies = pd.get_dummies(train_df, columns=['state'], drop_first=True)
#train_df_dummies.shape

In [11]:
#train_df_dummies.head(15)

In [13]:
train_df_dummies = pd.get_dummies(train_df_mod, columns=['state'], drop_first=True)
train_df_dummies.shape

(3135, 114)

In [15]:
train_df_dummies.head(15)

,0,1,2,3,4,5,6,7,8,9,...,state_South Dakota,state_Tennessee,state_Texas,state_Utah,state_Vermont,state_Virginia,state_Washington,state_West Virginia,state_Wisconsin,state_Wyoming
0,1.335653,1.197482,1.258892,1.228187,1.217952,1.195301,1.149131,1.210691,1.205561,1.215821,...,0,0,0,0,0,0,0,0,0,0
1,1.695543,1.651956,1.651956,1.643239,1.721696,1.690496,1.686150,1.675286,1.690496,1.662249,...,0,0,0,0,0,0,0,0,0,0
2,2.910939,2.706865,2.833930,2.968696,2.934042,2.888519,2.784115,2.807316,2.842118,2.830517,...,0,0,0,0,0,1,0,0,0,0
3,11.778187,11.920884,11.923940,12.011331,11.977107,11.650465,11.528472,11.595257,11.701518,11.743073,...,0,0,0,0,0,0,0,0,0,0
4,2.782208,2.746766,2.782208,2.870813,2.853092,2.974377,2.956459,3.010213,3.010213,3.010213,...,0,0,0,0,0,0,0,0,0,0
5,2.069413,1.972105,1.777489,1.777489,1.783977,1.787572,1.742070,1.696568,1.716069,1.722569,...,0,0,0,0,0,0,0,0,0,0
6,2.796565,2.916487,2.916487,2.964455,2.964455,2.976820,2.923920,2.962393,3.015293,3.020102,...,0,0,0,0,0,0,0,0,0,0
7,0.785999,0.761437,0.749156,0.798281,0.792140,0.792675,0.743517,0.731228,0.755807,0.749662,...,0,0,0,0,0,0,0,0,0,0
8,5.505571,5.445589,5.453511,5.442194,5.432857,5.327217,5.248416,5.231274,5.308692,5.315052,...,0,0,0,0,0,0,0,0,0,0
9,2.889640,2.920381,2.920381,2.951122,3.043344,3.107861,3.138330,3.046923,3.138330,3.168799,...,0,0,0,0,0,0,0,0,0,0
10,4.561987,4.424624,4.407213,4.463318,4.442037,4.461610,4.374052,4.346811,4.385726,4.391563,...,0,0,0,0,0,0,0,0,0,0
11,2.333596,2.213179,2.263007,2.204875,2.196570,2.166990,2.129771,2.175261,2.154584,2.179397,...,0,0,0,0,0,0,0,0,0,0
12,2.701801,2.601734,2.535023,2.535023,2.535023,2.510176,2.510176,2.544098,2.476255,2.442334,...,0,0,0,0,0,0,0,0,0,0
13,2.249135,2.298567,2.286209,2.253254,2.220300,2.164936,2.144890,2.112817,2.144890,2.148900,...,0,0,0,0,0,0,0,0,0,0
14,2.466620,2.412545,2.445822,2.429184,2.441662,2.419958,2.378378,2.403326,2.436590,2.444907,...,0,0,0,0,0,0,0,0,0,0

In [16]:
val_df = train_df_dummies[test_cols]
train_df_final = train_df_dummies.drop(columns=test_cols, axis=1)

In [17]:
val_df.head()

,31,32,33,34,35,36,37,38
0,1.356589,1.325989,1.310690,1.331089,1.351489,1.331089,1.310690,1.290290
1,1.589155,1.656180,1.658343,1.701585,1.705909,1.692936,1.671315,1.677802
2,2.372461,2.349201,2.360831,2.364708,2.430610,2.411227,2.442239,2.461622
3,11.694962,11.734539,11.695797,11.796971,12.189684,12.190519,12.142023,12.039176
4,2.183721,2.093485,2.075438,2.039343,2.057390,2.075438,2.129580,2.183721

In [18]:
train_df_final.head()

,0,1,2,3,4,5,6,7,8,9,...,state_South Dakota,state_Tennessee,state_Texas,state_Utah,state_Vermont,state_Virginia,state_Washington,state_West Virginia,state_Wisconsin,state_Wyoming
0,1.335653,1.197482,1.258892,1.228187,1.217952,1.195301,1.149131,1.210691,1.205561,1.215821,...,0,0,0,0,0,0,0,0,0,0
1,1.695543,1.651956,1.651956,1.643239,1.721696,1.690496,1.686150,1.675286,1.690496,1.662249,...,0,0,0,0,0,0,0,0,0,0
2,2.910939,2.706865,2.833930,2.968696,2.934042,2.888519,2.784115,2.807316,2.842118,2.830517,...,0,0,0,0,0,1,0,0,0,0
3,11.778187,11.920884,11.923940,12.011331,11.977107,11.650465,11.528472,11.595257,11.701518,11.743073,...,0,0,0,0,0,0,0,0,0,0
4,2.782208,2.746766,2.782208,2.870813,2.853092,2.974377,2.956459,3.010213,3.010213,3.010213,...,0,0,0,0,0,0,0,0,0,0

In [19]:
rf_model = RandomForestRegressor()

rf_model.fit(train_df_final, val_df['31'])

RandomForestRegressor()

In [20]:
rf_preds = rf_model.predict(train_df_final)

In [21]:
rf_preds

array([1.36763126, 1.58333587, 2.35237886, ..., 0.63397567, 0.39240887,
       0.35374268])

In [22]:
val_df['31'].values

array([1.3565892 , 1.5891548 , 2.3724608 , ..., 0.63244438, 0.40160644,
       0.35496956])

In [23]:
np.mean((rf_preds - val_df['31'].values)**2)

0.919177671715325

In [24]:
xgb_model = XGBRegressor()

xgb_model.fit(train_df_final, val_df['31'])

/Users/alecclarkfeather/opt/anaconda3/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=4,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [25]:
xgb_preds = xgb_model.predict(train_df_final)

In [26]:
xgb_preds

array([1.3852706 , 1.562926  , 2.3461618 , ..., 0.61925817, 0.40533143,
       0.3563297 ], dtype=float32)

In [27]:
val_df['31'].values

array([1.3565892 , 1.5891548 , 2.3724608 , ..., 0.63244438, 0.40160644,
       0.35496956])

In [28]:
np.mean((xgb_preds - val_df['31'].values)**2)

0.0006405057997024836

In [29]:
step_preds = {}

for idx, col in enumerate(test_cols):
    
    X = train_df_final
    y = val_df[col]
    
    model = XGBRegressor()
    
    model.fit(X, y)
    
    preds = model.predict(X)
    
    step_preds[idx] = preds
    
    X['31'] = preds
    
    X = X.drop(columns=['0'], axis=1)
    
    date_cols_now = [str(i) for i in range(1, 32)]
    date_cols_mod = [str(i-1) for i in range(1, 32)]
    
    dict_mapping = dict(zip(date_cols_now, date_cols_mod))
    
    X = X.rename(columns=dict_mapping)
    
    train_df_final = X

/Users/alecclarkfeather/opt/anaconda3/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
/Users/alecclarkfeather/opt/anaconda3/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
/Users/alecclarkfeather/opt/anaconda3/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
/Users/alecclarkfeather/opt/anaconda3/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
/Users/alecclarkfeather/opt/anaconda3/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
/Users/alecclarkfeather/opt/anaconda3/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
/Users/alecclarkfeather/opt/anaconda3/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

In [30]:
step_preds

{0: array([1.3852706 , 1.562926  , 2.3461618 , ..., 0.61925817, 0.40533143,
        0.3563297 ], dtype=float32),
 1: array([1.341874  , 1.6374204 , 2.348915  , ..., 0.6469782 , 0.38729513,
        0.35695758], dtype=float32),
 2: array([1.3455946 , 1.661692  , 2.353479  , ..., 0.657589  , 0.4011074 ,
        0.35140073], dtype=float32),
 3: array([1.3355048 , 1.6629411 , 2.3702884 , ..., 0.6417343 , 0.41015157,
        0.35279337], dtype=float32),
 4: array([1.3458279 , 1.7039696 , 2.41814   , ..., 0.6686036 , 0.42776403,
        0.30701244], dtype=float32),
 5: array([1.3277867 , 1.6990072 , 2.4140253 , ..., 0.63693357, 0.41730687,
        0.30564266], dtype=float32),
 6: array([1.3345072 , 1.7106451 , 2.4252455 , ..., 0.6521703 , 0.43060607,
        0.32050332], dtype=float32),
 7: array([1.3226354 , 1.6821256 , 2.4718268 , ..., 0.67228675, 0.43028322,
        0.31103966], dtype=float32)}

In [31]:
losses = []

for key, val in step_preds.items():
    
    loss = np.mean((step_preds[key] - val_df[val_df.columns[key]])**2)
    
    losses.append(loss)

In [32]:
losses

[0.0006405057997024824,
 0.0006003797147785137,
 0.00034911801965667666,
 0.0005983206329823958,
 0.0007023354679912732,
 0.0004804216391789355,
 0.0006029142246155085,
 0.0006651539749154276]

In [33]:
val_df['38'].values

array([1.2902896 , 1.6778016 , 2.461622  , ..., 0.67460734, 0.42523032,
       0.30425963])

In [34]:
step_preds[7]

array([1.3226354 , 1.6821256 , 2.4718268 , ..., 0.67228675, 0.43028322,
       0.31103966], dtype=float32)

In [35]:
val_df['37'].values

array([1.3106896 , 1.6713152 , 2.442239  , ..., 0.66406661, 0.41341838,
       0.30425963])

In [39]:
#for col in train_df_dummies.columns:
    #print(col)

In [70]:
X = train_df_dummies.drop(columns=['38'], axis=1)
y = train_df_dummies['38']

In [71]:
final_model = XGBRegressor()

final_model.fit(X, y)

/Users/alecclarkfeather/opt/anaconda3/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=4,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [72]:
final_model_preds = final_model.predict(X)

In [73]:
final_model_preds.max()

227.7239

In [74]:
loss = np.mean((final_model_preds - y.values)**2)
print(loss)

0.0005414927201192474

In [45]:
date_cols_now = [str(i) for i in range(1, 39)]
date_cols_mod = [str(i-1) for i in range(1, 39)]

In [46]:
yee = dict(zip(date_cols_now, date_cols_mod))

In [65]:
#train_df_for_real = train_df_dummies.drop(columns=['0'], axis=1)
#train_df_for_real = train_df_for_real.rename(columns=yee)
#train_df_for_real.head(15)

In [66]:
train_df_pls = train_df_dummies.drop(columns=['0', '38'], axis=1)
train_df_pls['38'] = final_model_preds

date_cols_now = [str(i) for i in range(1, 39)]
date_cols_mod = [str(i-1) for i in range(1, 39)]

yee = dict(zip(date_cols_now, date_cols_mod))

train_df_pls = train_df_pls.rename(columns=yee)

In [67]:
month_preds = {}


for idx in range(8):
    
    preds = final_model.predict(train_df_pls)
    
    month_preds[idx] = preds
    
    train_df_pls = train_df_pls.drop(columns=['0'], axis=1)
    
    train_df_pls['38'] = preds
    
    date_cols_now = [str(i) for i in range(1, 39)]
    date_cols_mod = [str(i-1) for i in range(1, 39)]
    
    yee = dict(zip(date_cols_now, date_cols_mod))
    
    train_df_pls = train_df_pls.rename(columns=yee)

/Users/alecclarkfeather/opt/anaconda3/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
/Users/alecclarkfeather/opt/anaconda3/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
/Users/alecclarkfeather/opt/anaconda3/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
/Users/alecclarkfeather/opt/anaconda3/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
/Users/alecclarkfeather/opt/anaconda3/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
/Users/alecclarkfeather/opt/anaconda3/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
/Users/alecclarkfeather/opt/anaconda3/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
/Users/alecclarkfeather/opt/anaconda3/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

In [68]:
month_preds

{0: array([20.949213, 20.858427, 20.811865, ..., 21.134592, 21.138245,
        21.219494], dtype=float32),
 1: array([22.340149, 22.30446 , 22.316847, ..., 22.378908, 22.494316,
        22.462605], dtype=float32),
 2: array([22.979513, 22.743315, 22.85494 , ..., 22.862694, 23.023136,
        23.022083], dtype=float32),
 3: array([52.80491 , 58.804596, 52.650036, ..., 52.69598 , 27.473042,
        36.97797 ], dtype=float32),
 4: array([58.979652, 58.997738, 53.160244, ..., 53.05835 , 37.33587 ,
        53.167393], dtype=float32),
 5: array([53.222565, 52.078472, 53.880173, ..., 43.814167, 43.53346 ,
        46.148846], dtype=float32),
 6: array([53.585968, 52.477837, 54.08258 , ..., 43.894634, 43.581665,
        46.933247], dtype=float32),
 7: array([53.270706, 53.43274 , 53.823578, ..., 45.862213, 51.67908 ,
        54.107758], dtype=float32)}

In [69]:
month_preds[7].max()

172.77313

In [85]:
import pickle

pred_steps = {}

for idx, col in enumerate(test_cols):
    
    X = train_df_final
    y = val_df[col]
    
    model = XGBRegressor()
    
    model.fit(X, y)
    
    preds = model.predict(X)
    
    pred_steps[idx] = preds
    
    pickle.dump(model, open(f'model{idx}.pkl', 'wb'))
    
    
    #X['31'] = preds
    
    #X = X.drop(columns=['0'], axis=1)
    
    #date_cols_now = [str(i) for i in range(1, 32)]
    #date_cols_mod = [str(i-1) for i in range(1, 32)]
    
    #dict_mapping = dict(zip(date_cols_now, date_cols_mod))
    
    #X = X.rename(columns=dict_mapping)
    
    #train_df_final = X

In [86]:
losses = []

for key in pred_steps.keys():
    
    loss = np.mean((pred_steps[key] - val_df[val_df.columns[key]])**2)
    
    losses.append(loss)

In [87]:
losses

[0.00019602624193378415,
 0.00016567580872919624,
 0.00014651201053636554,
 0.0001960058341952457,
 0.00017952019639643006,
 0.00016429615441669566,
 0.0001814666701477705,
 0.00020853785850980867]

In [88]:
train_df_dummies_pls = train_df_dummies.drop(columns=['0', '1', '2', '3', '4',
                                                     '5', '6', '7'], axis=1)

In [89]:
date_cols_now = [str(i) for i in range(8, 39)]
date_cols_mod = [str(i-8) for i in range(8, 39)]

In [90]:
idk_pls = dict(zip(date_cols_now, date_cols_mod))

train_df_idk_pls = train_df_dummies_pls.rename(columns=idk_pls)

In [91]:
#models

In [94]:
month_predictions = {}


for i in range(8):
    
    model = pickle.load(open(f'model{i}.pkl', 'rb'))
    
    preds = model.predict(train_df_idk_pls)
    
    month_predictions[i] = preds

/Users/alecclarkfeather/opt/anaconda3/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

In [95]:
month_predictions

{0: array([0.5509257 , 0.56078714, 0.51808584, ..., 0.90403956, 0.7652684 ,
        0.3732201 ], dtype=float32),
 1: array([0.2707182 , 0.25782073, 0.33983025, ..., 0.45332995, 0.46662587,
        0.23318699], dtype=float32),
 2: array([0.22136325, 0.21521813, 0.22258511, ..., 0.3670526 , 0.36757326,
        0.20519081], dtype=float32),
 3: array([0.3682028 , 0.37660348, 0.96623856, ..., 0.36544207, 0.36066714,
        0.31734508], dtype=float32),
 4: array([0.32954007, 0.34549806, 0.34125835, ..., 0.41777658, 0.41538277,
        0.29335624], dtype=float32),
 5: array([0.38779873, 0.38707703, 0.39228752, ..., 0.44284853, 0.44693264,
        0.30257538], dtype=float32),
 6: array([0.16362037, 0.15927981, 0.16278127, ..., 0.2784127 , 0.27365488,
        0.16602738], dtype=float32),
 7: array([0.33820835, 0.32001695, 0.32814392, ..., 0.3088573 , 0.28836858,
        0.23969097], dtype=float32)}

In [103]:
month_predictions[7].max()

0.7901103

In [105]:
test_df = pd.read_csv('/Users/alecclarkfeather/Downloads/godaddy/test.csv')
test_df.head()

            row_id  cfips first_day_of_month
0  1001_2022-11-01   1001         2022-11-01
1  1003_2022-11-01   1003         2022-11-01
2  1005_2022-11-01   1005         2022-11-01
3  1007_2022-11-01   1007         2022-11-01
4  1009_2022-11-01   1009         2022-11-01

In [141]:
test_df.tail()

                 row_id  cfips first_day_of_month  preds
25075  56037_2023-06-01  56037         2023-06-01      0
25076  56039_2023-06-01  56039         2023-06-01      0
25077  56041_2023-06-01  56041         2023-06-01      0
25078  56043_2023-06-01  56043         2023-06-01      0
25079  56045_2023-06-01  56045         2023-06-01      0

In [113]:
#lookup_map

In [107]:
sample_df = pd.read_csv('/Users/alecclarkfeather/Downloads/godaddy/sample_submission.csv')
sample_df.head()

            row_id  microbusiness_density
0  1001_2022-11-01               3.817671
1  1003_2022-11-01               3.817671
2  1005_2022-11-01               3.817671
3  1007_2022-11-01               3.817671
4  1009_2022-11-01               3.817671

In [109]:
sample_df.tail()

                 row_id  microbusiness_density
25075  56037_2023-06-01               3.817671
25076  56039_2023-06-01               3.817671
25077  56041_2023-06-01               3.817671
25078  56043_2023-06-01               3.817671
25079  56045_2023-06-01               3.817671

In [115]:
codes = [lookup_map[i][1] for i in range(len(train_df_dummies_pls))]

In [117]:
#submit = dict(zip(codes, list(month_predictions[0])))
#submit

In [118]:
submit1 = dict(zip(codes, list(month_predictions[0])))
submit2 = dict(zip(codes, list(month_predictions[1])))
submit3 = dict(zip(codes, list(month_predictions[2])))
submit4 = dict(zip(codes, list(month_predictions[3])))
submit5 = dict(zip(codes, list(month_predictions[4])))
submit6 = dict(zip(codes, list(month_predictions[5])))
submit7 = dict(zip(codes, list(month_predictions[6])))
submit8 = dict(zip(codes, list(month_predictions[7])))

In [136]:
#submit8

In [133]:
test_df['preds'] = 0

In [134]:
test_df.head()

            row_id  cfips first_day_of_month  preds
0  1001_2022-11-01   1001         2022-11-01      0
1  1003_2022-11-01   1003         2022-11-01      0
2  1005_2022-11-01   1005         2022-11-01      0
3  1007_2022-11-01   1007         2022-11-01      0
4  1009_2022-11-01   1009         2022-11-01      0

In [138]:
df1 = pd.DataFrame(submit1.items())
df1.columns = ['cfips', 'pred']
df1

        cfips      pred
0     45001.0  0.550926
1     22001.0  0.560787
2     51001.0  0.518086
3     16001.0  0.586924
4     19001.0  0.534541
...       ...       ...
3130   4027.0  0.516487
3131   8125.0  0.524340
3132  48505.0  0.904040
3133  48507.0  0.765268
3134  46137.0  0.373220

[3135 rows x 2 columns]

In [139]:
df1['first_day_of_month'] = '2022-11-01'
df1

        cfips      pred first_day_of_month
0     45001.0  0.550926         2022-11-01
1     22001.0  0.560787         2022-11-01
2     51001.0  0.518086         2022-11-01
3     16001.0  0.586924         2022-11-01
4     19001.0  0.534541         2022-11-01
...       ...       ...                ...
3130   4027.0  0.516487         2022-11-01
3131   8125.0  0.524340         2022-11-01
3132  48505.0  0.904040         2022-11-01
3133  48507.0  0.765268         2022-11-01
3134  46137.0  0.373220         2022-11-01

[3135 rows x 3 columns]

In [140]:
df2 = pd.DataFrame(submit2.items())
df2.columns = ['cfips', 'pred']
df2['first_day_of_month'] = '2022-12-01'

df3 = pd.DataFrame(submit3.items())
df3.columns = ['cfips', 'pred']
df3['first_day_of_month'] = '2023-01-01'

df4 = pd.DataFrame(submit4.items())
df4.columns = ['cfips', 'pred']
df4['first_day_of_month'] = '2023-02-01'

df5 = pd.DataFrame(submit5.items())
df5.columns = ['cfips', 'pred']
df5['first_day_of_month'] = '2023-03-01'

df6 = pd.DataFrame(submit6.items())
df6.columns = ['cfips', 'pred']
df6['first_day_of_month'] = '2023-04-01'

df7 = pd.DataFrame(submit7.items())
df7.columns = ['cfips', 'pred']
df7['first_day_of_month'] = '2023-05-01'

df8 = pd.DataFrame(submit8.items())
df8.columns = ['cfips', 'pred']
df8['first_day_of_month'] = '2023-06-01'

In [142]:
df1['cfips'] = df1['cfips'].astype(int)
df2['cfips'] = df2['cfips'].astype(int)
df3['cfips'] = df3['cfips'].astype(int)
df4['cfips'] = df4['cfips'].astype(int)
df5['cfips'] = df5['cfips'].astype(int)
df6['cfips'] = df6['cfips'].astype(int)
df7['cfips'] = df7['cfips'].astype(int)
df8['cfips'] = df8['cfips'].astype(int)

In [143]:
df1_sorted = df1.sort_values(by='cfips')
df1_sorted

      cfips      pred first_day_of_month
110    1001  0.534685         2022-11-01
119    1003  0.511139         2022-11-01
131    1005  0.563904         2022-11-01
201    1007  0.570190         2022-11-01
221    1009  0.542755         2022-11-01
...     ...       ...                ...
2739  56037  0.524827         2022-11-01
2775  56039  2.388028         2022-11-01
2839  56041  0.534286         2022-11-01
2940  56043  0.527246         2022-11-01
3018  56045  0.531038         2022-11-01

[3135 rows x 3 columns]

In [144]:
df2_sorted = df2.sort_values(by='cfips')
df3_sorted = df3.sort_values(by='cfips')
df4_sorted = df4.sort_values(by='cfips')
df5_sorted = df5.sort_values(by='cfips')
df6_sorted = df6.sort_values(by='cfips')
df7_sorted = df7.sort_values(by='cfips')
df8_sorted = df8.sort_values(by='cfips')

In [146]:
submission_df = pd.concat([df1_sorted, df2_sorted, df3_sorted, df4_sorted, df5_sorted, df6_sorted,
                          df7_sorted, df8_sorted], axis=0, ignore_index=True)
submission_df

       cfips      pred first_day_of_month
0       1001  0.534685         2022-11-01
1       1003  0.511139         2022-11-01
2       1005  0.563904         2022-11-01
3       1007  0.570190         2022-11-01
4       1009  0.542755         2022-11-01
...      ...       ...                ...
25075  56037  0.750637         2023-06-01
25076  56039  0.732044         2023-06-01
25077  56041  0.762376         2023-06-01
25078  56043  0.729879         2023-06-01
25079  56045  0.748155         2023-06-01

[25080 rows x 3 columns]

In [147]:
test_df

                 row_id  cfips first_day_of_month  preds
0       1001_2022-11-01   1001         2022-11-01      0
1       1003_2022-11-01   1003         2022-11-01      0
2       1005_2022-11-01   1005         2022-11-01      0
3       1007_2022-11-01   1007         2022-11-01      0
4       1009_2022-11-01   1009         2022-11-01      0
...                 ...    ...                ...    ...
25075  56037_2023-06-01  56037         2023-06-01      0
25076  56039_2023-06-01  56039         2023-06-01      0
25077  56041_2023-06-01  56041         2023-06-01      0
25078  56043_2023-06-01  56043         2023-06-01      0
25079  56045_2023-06-01  56045         2023-06-01      0

[25080 rows x 4 columns]

In [148]:
sample_df

                 row_id  microbusiness_density
0       1001_2022-11-01               3.817671
1       1003_2022-11-01               3.817671
2       1005_2022-11-01               3.817671
3       1007_2022-11-01               3.817671
4       1009_2022-11-01               3.817671
...                 ...                    ...
25075  56037_2023-06-01               3.817671
25076  56039_2023-06-01               3.817671
25077  56041_2023-06-01               3.817671
25078  56043_2023-06-01               3.817671
25079  56045_2023-06-01               3.817671

[25080 rows x 2 columns]

In [150]:
submission_df['row_id'] = submission_df['cfips'].astype(str) + '_' + submission_df['first_day_of_month']
submission_df

       cfips      pred first_day_of_month            row_id
0       1001  0.534685         2022-11-01   1001_2022-11-01
1       1003  0.511139         2022-11-01   1003_2022-11-01
2       1005  0.563904         2022-11-01   1005_2022-11-01
3       1007  0.570190         2022-11-01   1007_2022-11-01
4       1009  0.542755         2022-11-01   1009_2022-11-01
...      ...       ...                ...               ...
25075  56037  0.750637         2023-06-01  56037_2023-06-01
25076  56039  0.732044         2023-06-01  56039_2023-06-01
25077  56041  0.762376         2023-06-01  56041_2023-06-01
25078  56043  0.729879         2023-06-01  56043_2023-06-01
25079  56045  0.748155         2023-06-01  56045_2023-06-01

[25080 rows x 4 columns]

In [151]:
submission_final = submission_df[['row_id', 'pred']]
submission_final

                 row_id      pred
0       1001_2022-11-01  0.534685
1       1003_2022-11-01  0.511139
2       1005_2022-11-01  0.563904
3       1007_2022-11-01  0.570190
4       1009_2022-11-01  0.542755
...                 ...       ...
25075  56037_2023-06-01  0.750637
25076  56039_2023-06-01  0.732044
25077  56041_2023-06-01  0.762376
25078  56043_2023-06-01  0.729879
25079  56045_2023-06-01  0.748155

[25080 rows x 2 columns]

In [152]:
submission_final.columns = ['row_id', 'microbusiness_density']
submission_final

                 row_id  microbusiness_density
0       1001_2022-11-01               0.534685
1       1003_2022-11-01               0.511139
2       1005_2022-11-01               0.563904
3       1007_2022-11-01               0.570190
4       1009_2022-11-01               0.542755
...                 ...                    ...
25075  56037_2023-06-01               0.750637
25076  56039_2023-06-01               0.732044
25077  56041_2023-06-01               0.762376
25078  56043_2023-06-01               0.729879
25079  56045_2023-06-01               0.748155

[25080 rows x 2 columns]

In [153]:
sample_df

                 row_id  microbusiness_density
0       1001_2022-11-01               3.817671
1       1003_2022-11-01               3.817671
2       1005_2022-11-01               3.817671
3       1007_2022-11-01               3.817671
4       1009_2022-11-01               3.817671
...                 ...                    ...
25075  56037_2023-06-01               3.817671
25076  56039_2023-06-01               3.817671
25077  56041_2023-06-01               3.817671
25078  56043_2023-06-01               3.817671
25079  56045_2023-06-01               3.817671

[25080 rows x 2 columns]

In [154]:
submission_final.to_csv('godaddy_first_submission.csv', index=False)